#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-size: 21px;
}

h1, p, h2 , h3{
  margin: 0;
}

p{
  font-size: 21px;
  font-weight: 500;
}

.logs {
  display: flex;
gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section.roundData-Main {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  min-width: 250px;
  text-align: center;
}

input[type="number"] , .box{
  width: 100px; /* Make input fields larger */
  height: 40px; /* Increase the height for better visibility and interaction */
  font-size: 20px; /* Increase font size for better readability */
  margin: 5px; /* Add some margin for spacing between input fields */
  text-align: center; /* Center the text inside the input fields */
}

main.main-area {
  display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    /* padding: 1%; */
}

main.main-area > section {
  width: 50%;
  border: 1px solid;
  padding: 2%;
}

.winner{
  color: green;
  font-weight: bold;
}

.wrongShow{
  color: red;
  font-weight: bold;
}

.strick {
  text-decoration: line-through;
  /* margin: 0; */
}

.playerName{
  display: inline-block;
  width: 200px;
  text-align: right;
}

.player-info > p {
  text-align: center;
}

button {
  width: 150px; /* Increase width */
  height: 50px; /* Increase height */
  font-size: 20px; /* Larger font size for better visibility */
  padding: 10px 20px; /* Add padding for a larger click area */
  margin: 10px 0; /* Add some margin for spacing */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  border: none; /* Optional: remove border */
  border-radius: 5px; /* Optional: add rounded corners */
  background-color: #007bff; /* Optional: change background color */
  color: white; /* Optional: change text color */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: add a slight shadow for a modern look */
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover for feedback */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

button:active {
  background-color: #004080; /* Even darker shade when clicked */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adjust shadow for clicked effect */
  transform: scale(1); /* Return to normal size when clicked */
}

.inputForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}

.title{
  border-bottom: 1px solid;
    padding: 2% 0;
}

.inputForm > div {
  width: 100%;
}

.label-player {
  width: 24%;
  display: inline-block;
}

.Leaderboard-title{
  margin: 0;
}

/* .main-logs > h2 {
  border-bottom: 1px solid;
} */